body{
    background-color: rgb(20,0,20);
}
div{
    text-align: center;
    margin: 0 auto;
}
.music {
    background-color: black;
    color: rgb(75,0,150);
    position: relative;
    width: auto;
    height: auto;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    border: 5px solid rgb(0,0,0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(75,0,150);
    position: relative;
    margin: 0;
}
.ctrl{
    position: absolute;
    width: auto;
    height: auto;
    font-size: 50px;
    color: rgb(75,0,150);
    border-color: black;
    box-shadow: 0 0 10px rgb(75,0,150);
    border-radius: 200px;
    background-color: black;
}
.ctrlblock{
    position: fixed;
    bottom: 15%;
    left: 45%;
    width: 175px;
    height: auto;
    border: 10px red;
    margin: 0 auto;

}
#Play_Pause {
    position: relative;
}
#Skip {
    right: 0%;
}
#Previous {
    left: 0%;
}
.ctrl:hover {
    animation: ctrlbtns 5s ease-in-out infinite;
}
.progressbar{
    position: fixed;
    background-color: rgb(75,0,150);
    width: 100%;
    height: 10px;
    bottom: 1%;
    left:   0%;
}
#albanmusik {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1px;
}
.musiccontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1px;
}
.artist {
    background-color: black;
    color: rgb(75,0,150);
    position: relative;
    width: 10%;
    height: auto;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    border: 5px solid rgb(0,0,0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(75,0,150);
}
@keyframes ctrlbtns {
    0%   {
        color: rgb(150,0,150);
        border-color: rgb(0,0,0);
        background-color: rgb(0,0,0);
        }

    50% {
        color: rgb(0,0,255); 
        border-color: rgb(100,0,255);
        background-color: rgb(0,0,0);
        box-shadow: 0 0 500px;
    }

    100% {
        color: rgb(150,0,150);
        border-color: rgb(0,0,0);
        background-color: rgb(0,0,0);
        }
}

@keyframes progressing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}