.Button {
    background-color: black;
    color: purple;
    position: relative;
    width: 150px;
    height: auto;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    border: 5px solid purple;
    border-radius: 10px;
    box-shadow: 0 0 10px purple;
}

#Play_Pause {
    position: absolute;
    bottom: 45%;
    left: 45%;
    width: 125px;
    height: auto;
    font-size: 50px;
    color: green;
    border-color: black;
    box-shadow: 0 0 10px green;
    border-radius: 200px;
}
#Play_Pause:hover {
    animation: ctrlbtns 5s ease-in-out infinite;
}
@keyframes ctrlbtns {
    0%   {
        color: rgb(0,128,0);
        border-color: rgb(0,0,0);
        background-color: rgb(0,0,0);
        }

    50% {
        color: rgb(0,255,0); 
        border-color: rgb(0,128,0);
        background-color: rgb(0,0,0);
        transform: rotate(360deg);

    }

    100% {
        color: rgb(0,128,0);
        border-color: rgb(0,0,0);
        background-color: rgb(0,0,0);
        }
  }
  